.itemsDomestic {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: row wrap;
}
.row {
  width: 100%;
  display: inline-flex;
}

.container {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding-bottom: 50px;
  text-align: center;
}

.item {
  height: 300px;
  width: 220px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  height: 100px;
}

.bottom {
  height: 200px;
}
